.logo-image{
    height: 150px;
    width: 300px;
}
.header-section{
    margin-top: 75px;
    font-size: 16px;
    font-family: fantasy;
    font-weight: bolder;
}

.header-nav {
    color: #990000;
}

.header-nav:hover {
    color: #ffd966;
}

.header-section nav ul li :hover {
    background-color: #990000;
}
.container{
    /*background-image: url("../images/background_img.jpg");*/
    background-color: #efeff5;
}

.carousel-inner{
    background-color: goldenrod;
}

.panel-heading {
    cursor: pointer;
}

.panel-title:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-title.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}

/*style for our vision page*/
.our-vision-font{
    font-family: fantasy;
    font-size: 17px;
    font-weight: 600;
    color: #990000;
}

#emailForm input{
    width: 300px;
    height: 40px;
    font-family: monospace;
    font-size: 15px;
    font-weight: 100;
    text-indent: 5px;
    color: #000;
}

#emailForm textarea{
    font-family: monospace;
    font-size: 15px;
    font-weight: 100;
    text-indent: 5px;
    color: #000;
}

.page-title-background{
    background-color: #990000;
    color: #ffd966;
}

.footer-background{
    background-color: #990000;
    color: #ffd966;
    font-family: fantasy;
}