.logo-image{
    height: 170px;
    width: 300px;
}
.header-section{
    margin-top: 75px;
    font-size: 15px;
    font-family: fantasy;
    font-weight: bolder;
}

.header-nav {
    color: #fff;
}

.header-nav:hover {
    color: #990000;
}

.header-section nav ul li :hover {
    background-color: #ffd966;
    border-radius: 5px;
}

.header-section nav ul li :focus {
    background-color: #ffd966;
    color: #990000;
    border-radius: 5px;
}

#bdbHeader{
    background-color: #990000;
    height: 200px;
    line-height: 20px;
}


.register-button{
    font-weight: bolder; !important;
    background-color: #ffd966; !important;
    color: #990000; !important;
    margin-top: -1px; !important;
}

.container{
    /*background-image: url("../images/background_img.jpg");*/
    background-color: #efeff5;
}

.carousel-inner{
    background-color: #ffd966;
}

.panel-heading {
    cursor: pointer;
}

.panel-title:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-title.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}

/*style for our vision page*/
.our-vision-font{
    font-family: fantasy;
    font-size: 17px;
    font-weight: 600;
    background-color: #ffd966;
    /*color: #990000;*/
}

#emailForm input{
    width: 300px;
    height: 40px;
    font-family: monospace;
    font-size: 15px;
    font-weight: 100;
    text-indent: 5px;
    color: #000;
}

#emailForm textarea{
    font-family: monospace;
    font-size: 15px;
    font-weight: 100;
    text-indent: 5px;
    color: #000;
}

.contact-button{
    background-color: #990000;
    color: #ffd966;
    font-weight: bolder;
    width: 125px;
    height: 50px;
}


#sendButton{
    font-size: 20px;
}

#sendButton:hover{
    background-color: #cc0000;
    color: #fff;
}

.page-title-background{
    background-color: #ffd966;
    color: #990000;
}

.footer-background{
    background-color: #990000;
    color: #ffd966;
    font-family: fantasy;
}