.logo-image{
    height: 120px;
    width: 250px;
}
.header-section{
    margin-top: 55px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}

.header-nav {
    color: #fff;
}

.header-nav:hover {
    color: #990000;
}

.header-section nav ul li :hover {
    color: #000;
    background-color: #990000;
    /*border-radius: 5px;*/
}

.header-section nav ul li :focus {
    background-color: #990000;
    color: #000;
    /*border-radius: 5px;*/
    border-bottom: solid 5px #000;
}

#bdbHeader{
    background-color: #990000;
    height: 150px;
    line-height: 20px;
}

#register-btn{
    margin-top: 55px;
    font-size: 20px;
    font-weight: bolder;
    height: 51px;
    width: 170px;
}

.register-button:hover{
    background-color: #fff3e6; !important;
}

.register-button{
    font-weight: bolder; !important;
    background-color: #ffd633; !important;
    color: #990000; !important;
    /*margin-top: -1px; !important;*/
    font-size: 17px; !important;
}

.home-images{
    width: 300px;
    height: 175px;
}

.container{
    /*background-image: url("../images/background_img.jpg");*/
    background-color: #efeff5;
}

.panel-heading {
    cursor: pointer;
}

.panel-title:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-title.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}

/*style for our vision page*/
.our-vision-font{
    font-family: sans-serif;
    font-size: 17px;
    /*font-weight: 600;*/
    background-color: #fff3e6;
    /*color: #990000;*/
}

.email-input{
    width: 400px;
    height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-indent: 5px;
    color: #000;
}

#emailForm textarea{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-indent: 5px;
    color: #000;
}

.contact-button{
    background-color: #990000;
    color: #fff3e6;
    font-weight: bolder;
    width: 125px;
    height: 50px;
}


#sendButton{
    font-size: 20px;
    width: 125px;
    color: #fff;
}

#sendButton:hover{
    background-color: #cc0000;
    color: #fff;
}

.page-title-background{
    background-color: #fff3e6;
    color: #990000;
}

.footer-background{
    background-color: #990000;
    color: #fff;
    font-family: sans-serif;
}