<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 our-vision-font">
                <div class=" page-title-background">
                    <h1 class=" text-center" style="font-weight: 800">CONTACT US</h1>
                </div>
                <div>&nbsp;</div>
                <div class="col-sm-6">
                    <form name="emailForm" id="emailForm" action="MAILTO:kothadia.ab@gmail.com" method="post" enctype="text/plain">
                        <h3 style="font-weight: bold; color: #000">Email Us:</h3>
                        <p style="color: #990000">Drop us a line</p>
                        Your Name (Required)<br>
                        <input type="text" name="Full Name " class="email-input" placeholder="Enter Your Full Name..."><br>
                        <div>&nbsp;</div>
                        Your Email (Required)<br>
                        <input type="text" name="Email " class="email-input" placeholder="Enter Your Email..."><br>
                        <div>&nbsp;</div>
                        Subject<br>
                        <input type="text" name="Subject" class="email-input" placeholder="Subject..."><br>
                        <div>&nbsp;</div>
                        Your Message<br>
                        <textarea name="Message: " id="messageArea" cols="47" rows="5" placeholder="Enter Your Message Here..."></textarea><br/>
                        <div>&nbsp;</div>
                        <input type="submit" id="sendButton" class=" btn contact-button" value="Send">
                        <!--<input type="reset" value="Reset">-->
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <h3 style="font-weight: bold; color: #000">Call Us:</h3>
                    <p style="color: #990000">If you would like to ask us any question, feel free to call</p>
                    <p>Jayati : (857) 350-6101</p>
                    <p>Rakesh : (857) 264-9014</p>
                    <p>Tridib : (617) 650-6356</p>
                    <p>Pamela : (617) 800-7857</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>