<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
<P class="durga-banner">DURGOTSAV 2016</P>
<div class="container">
    <div class="row our-vision-font">
        <div class="col-sm-12" style="background-color: #000">
            <div>&nbsp;</div>
            <a href="#/" ng-click="hCtrl.setTab(1)" ng-class="{active:hCtrl.isSet(1)}" id="image_puja">
                <div class="col-sm-3 text-center">
                    <img src="images/durga_puja.jpg" alt="Angry Bird" class="home-3-images"/>
                    <p class="image-text">PUJA</p>
                </div>
            </a>
            <a href="#drama_checked_in">
                <div class="col-sm-6 text-center">
                    <img src="images/drama_checked_in.jpg" alt="Angry Bird" class="home-6-images"/>
                    <p class="image-text">DRAMA: CHECKED IN</p>
                </div>
            </a>
            <a href="#/" ng-click="hCtrl.setTab(1)" ng-class="{active:hCtrl.isSet(1)}" id="image_food">
                <div class="col-sm-3 text-center">
                    <img src="images/pujo_food.png" alt="Angry Bird" class="home-3-images"/>
                    <p class="image-text">FOOD</p>
                </div>
            </a>
            <div>&nbsp;</div>
        </div>
        <div class="col-sm-12" style="background-color: #000">
            <a href="#contact-us">
                <div class="col-sm-3 text-center">
                    <img src="images/amit_shah.jpg" alt="Angry Bird" class="home-3-images"/>
                    <p class="image-text">CLASSICAL MUSIC BY<br/>ADITYA SHAH</p>
                </div>
            </a>
            <a href="#contact-us">
                <div class="col-sm-2 text-center">
                    <img src="images/Shamoyita-Odissi.jpg" alt="Angry Bird" class="home-2-images"/>
                    <p class="image-text">ODISSI DANCE BY SHAMOYITA</p>
                </div>
            </a>
            <a href="#contact-us">
                <div class="col-sm-4 text-center">
                    <img src="images/jojo.png" alt="Angry Bird" class="home-4-images"/>
                    <p class="image-text">MISS JOJO <br/>LIVE IN CONCERT</p>
                </div>
            </a>
            <a href="#contact-us">
                <div class="col-sm-3 text-center">
                    <img src="images/shuddhaswar.jpg" alt="Angry Bird" class="home-3-images"/>
                    <p class="image-text">SHUDDHASWAR BY<br/>SHANTA NAG</p>
                </div>
            </a>
            <div class="col-sm-12">&nbsp;</div>
        </div>
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-8">
            Drama Content
        </div>
        <div class="col-sm-4 table-bordered">
            <div class="col-sm-12">
                <p>
                    This is side nav bar
                </p>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/script.js"></script>
</html>