<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
<!--<P class="durga-banner">DURGOTSAV 2016</P>-->
<div class="container">
    <div class="row our-vision-font">
        <div>&nbsp;</div>
        <div class="col-sm-8">
            <div class="col-sm-12">
                <h3 class="accordian-header"><span class="glyphicon glyphicon-ok"></span>	 DRAMA: CHECKED-IN</h3>
                <!--<h4 class="accordian-time">Start Time: 6pm</h4>-->
                <div class="col-sm-12">
                    <p>We tease, we laugh, we follow, we vent out, we embrace, we reject but we can not ignore it. Social media has created an evolution in integrated social system and established a spider net of human network. “Checked –In “, an original play written and directed by Jayati Banerjee takes a non-critique and comical view towards human psychology and its adaptive capability under strong influence of social media.</p>
                </div>
            </div>
        </div>
        <!--<div>&nbsp;</div>-->
        <div class="col-sm-4">
            <div class="col-sm-12 table-bordered text-center" style="background-color: #fff">
                <!--<h4 style="background-color: #990000; color: #fff; padding: 10px"><span class="glyphicon glyphicon-picture"></span> Images</h4>-->
                <div>&nbsp;</div>
                <div id="sideImageList">
                    <a href="images/sidebar_images/drama_group.jpg" data-lightbox="gallery"><img src="images/sidebar_images/drama_group.jpg" alt="" class="sidebar-image-grid-drama"/></a>
                </div>
            <div>&nbsp;</div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="col-sm-12" style="background-color: #000">
            <div>&nbsp;</div>
            <a href="" ng-click="hCtrl.setTab(1); hCtrl.goToEvent('day1Puja');" ng-class="{active:hCtrl.isSet(1)}" id="image_puja">
                <div class="col-sm-3 text-center">
                    <img src="images/durga_puja.jpg" alt="Angry Bird" class="home-3-images"/>
                    <p class="image-text">PUJA</p>
                </div>
            </a>
            <a href="#drama_checked_in">
                <div class="col-sm-4 text-center">
                    <img src="images/drama_checked_in.jpg" alt="Angry Bird" class="home-4-images"/>
                    <p class="image-text">DRAMA: CHECKED-IN</p>
                </div>
            </a>
            <a href="" ng-click="hCtrl.setTab(1); hCtrl.goToEvent('day1Food');" ng-class="{active:hCtrl.isSet(1)}" id="image_food">
                <div class="col-sm-3 text-center">
                    <img src="images/pujo_food.png" alt="Angry Bird" class="home-3-images"/>
                    <p class="image-text">FOOD</p>
                </div>
            </a>
            <a href="" ng-click="hCtrl.setTab(2); hCtrl.goToEvent('sreeja_div');" ng-class="{active:hCtrl.isSet(2)}" id="sreeja_dance">
                <div class="col-sm-2 text-center">
                    <img src="images/sreejana.jpeg" alt="Angry Bird" class="home-2-images"/>
                    <p class="image-text">CLASSICAL DANCE BY SREEJA</p>
                </div>
            </a>
            <div>&nbsp;</div>
        </div>
        <div class="col-sm-12" style="background-color: #000">
            <a href="" ng-click="hCtrl.setTab(1); hCtrl.goToEvent('odissi_dance');" ng-class="{active:hCtrl.isSet(1)}" id="image_odissi">
                <div class="col-sm-3 text-center">
                    <img src="images/Shamoyita-Odissi.jpg" alt="Angry Bird" class="home-3-images"/>
                    <p class="image-text">ODISSI DANCE BY SHAMOYITA MUKHERJEE AND GROUP</p>
                </div>
            </a>
            <a href="" ng-click="hCtrl.setTab(1); hCtrl.goToEvent('classical_music');" ng-class="{active:hCtrl.isSet(1)}" id="image_classical">
                <div class="col-sm-2 text-center">
                    <img src="images/amit_shah.jpg" alt="Angry Bird" class="home-2-images"/>
                    <p class="image-text">CLASSICAL MUSIC BY ADITYA SHAH</p>
                </div>
            </a>
            <a href="#jojo-concert">
                <div class="col-sm-4 text-center">
                    <img src="images/jojo.png" alt="Angry Bird" class="home-4-images"/>
                    <p class="image-text">MISS JOJO <br/>LIVE IN CONCERT</p>
                </div>
            </a>
            <a href="" ng-click="hCtrl.setTab(2); hCtrl.goToEvent('day2Culture');" ng-class="{active:hCtrl.isSet(2)}" id="image_shuddhaswar">
                <div class="col-sm-3 text-center">
                    <img src="images/shuddhaswar.jpg" alt="Angry Bird" class="home-3-images"/>
                    <p class="image-text">SHUDDHASWAR BY<br/>SHANTA NAG</p>
                </div>
            </a>
            <!--<div class="col-sm-12">&nbsp;</div>-->
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/script.js"></script>
<script>$('html,body').scrollTop(0);</script>
</html>