<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 our-vision-font">
                <div class="page-title-background">
                    <h1 class=" text-center" style="font-weight: 800">হাট</h1>
                </div>
                <div>&nbsp;</div>
                <div class="col-sm-12">
                    <p>
                        The feeling of "pujo" , beyond spirituality, is that of festivity. It is incomplete without the bengali হাট. Boston Durbabari is attempting to recreate this environment by arranging for congregation of sellers and buyers. Please visit "হাট" at our venue "Braintree South Middle School" on 1st and 2nd October.
                    </p>
                </div>
                <div>&nbsp;</div>
                <div class="col-sm-4 text-center">
                    <img src="images/haatt/haatt_khabo.jpg" alt="Angry Bird" class="home-4-images"/>
                    <div>&nbsp;</div>
                </div>
                <div class="col-sm-8">
                    <p>
                        Khabo is not just about serving Bengali food. It’s a passion for reviving Bengali culinary traditions while living abroad.
                    </p>
                    <p>
                        If you are living away from home and missing the home cooked dishes or you are nostalgic about the street foods … KHABO is here! Bringing you Bengali মাছের চপ (Macher Chop) , ডিম্ এর ডেভিল  (Egg Cutlet), Ros Kodombo
                    </p>
                    <p>
                        Please visit the stalls and our website - <a href="www.aarokhabo.com">aarokhabo</a>
                    </p>
                    <div>&nbsp;</div>
                </div>
                <br style="clear: both;">
                <div class="col-sm-8">
                    <p>
                        what can be more enticing than the Indian Street food options of Samosas, Chat, Panipuri.
                    </p>
                    <p>
                        Paradise Biriyani Pointe and Sadia Khan brings you a plethora of Indian and Pakistani Street food.
                    </p>
                    <div>&nbsp;</div>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="images/haatt/haatt_panipuri.jpg" alt="Angry Bird" class="home-4-images"/>
                    <div>&nbsp;</div>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="images/haatt/haatt_toystall.jpg" alt="Angry Bird" class="home-4-images"/>
                    <div>&nbsp;</div>
                </div>
                <div class="col-sm-8">
                    <p>
                        Toy Stall - Puja fun is never complete without the addition of new bandwagan of toys.
                    </p>
                    <div>&nbsp;</div>
                </div>
                <br style="clear: both;">
                <div class="col-sm-8">
                    <p>
                        Visit our stalls for an exquisite collection of jewellery and boutiques.
                    </p>
                    <div>&nbsp;</div>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="images/haatt/haatt_Jewelry.jpg" alt="Angry Bird" class="home-4-images"/>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>