<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 our-vision-font">
            <div class="page-title-background">
                <h1 class=" text-center" style="font-weight: 800">হাট</h1>
            </div>
            <div>&nbsp;</div>
            <div class="col-sm-12">
                <p>
                    The feeling of "pujo" , beyond spirituality, is that of festivity. It is incomplete without the bengali হাট. Boston Durbabari is attempting to recreate this environment by arranging for congregation of sellers and buyers. Please visit "হাট" at our venue "Braintree South Middle School" on 1st and 2nd October.
                </p>
            </div>
            <div>&nbsp;</div>
            <div class="col-sm-4 text-center">
                <img src="images/haatt/haatt_nalanda.jpg" alt="Angry Bird" class="home-4-images"/>
                <div>&nbsp;</div>
            </div>
            <div class="col-sm-8">
                <p>
                    <strong>নালন্দা</strong> brings you your favorite <span style="color:#0000CD;">পূজাবার্ষিকী - আনন্দমেলা , আনন্দবাজার পত্রিকা</span> and <span style="color:#0000CD;">দেশ</span>. We have a limited supply. Please email us @durgabari.boston@gmail.com to reserve your copy now
                </p>
                <div>&nbsp;</div>
            </div>

            <br style="clear: both;">

            <div class="col-sm-4 text-center">
                <img src="images/haatt/haatt_mehendi.jpg" alt="Angry Bird" class="home-4-images"/>
                <div>&nbsp;</div>
            </div>
            <div class="col-sm-8">
                <p>
                    <strong>Mehendi</strong> - Our featured artist is <a href="https://m.facebook.com/Sabihas-Henna-Art-Services-1545896072383534/">Sabiha</a>. She is an amazing artist who outlines beautiful designs with henna. Designing henna or mehndi is a true art that demands a bit of patience and creative mind. Check out her latest designs at her stall and indulge in a trendy and fashionable session.
                </p>
                <div>&nbsp;</div>
            </div>
            <br style="clear: both;">
            <div class="col-sm-4 text-center">
                <img src="images/haatt/haatt_khabo.jpg" alt="Angry Bird" class="home-4-images"/>
                <div>&nbsp;</div>
            </div>
            <div class="col-sm-8">
                <p>
                    <strong>Khabo</strong> is not just about serving Bengali food. It’s a passion for reviving Bengali culinary traditions while living abroad.
                </p>
                <p>
                    If you are living away from home and missing the home cooked dishes or you are nostalgic about the street foods &hellip; <strong>KHABO</strong> is here! Bringing you Bengali <span style="color:#0000CD;">মাছের চপ (Macher Chop) , ডিম্ এর ডেভিল (Egg Cutlet), Ros Kodombo</span>
                </p>
                <p>
                    Please visit the stalls and our website - <a href="www.aarokhabo.com">aarokhabo</a>
                </p>
                <div>&nbsp;</div>
            </div>

            <br style="clear: both;">
            <div class="col-sm-4 text-center">
                <img src="images/haatt/haatt_panipuri.jpg" alt="Angry Bird" class="home-4-images"/>
                <div>&nbsp;</div>
            </div>
            <div class="col-sm-8">
                <p>
                    What can be more enticing than the Indian Street food options of Samosas, Chat, Panipuri.
                </p>
                <p>
                    <span style="color:#0000CD;">Paradise Biriyani Pointe</span> and <span style="color:#0000CD;">Zarina Banu</span> brings you a plethora of Indian and Pakistani Street food.
                </p>
                <div>&nbsp;</div>
            </div>

            <br style="clear: both;">
            <div class="col-sm-4 text-center">
                <img src="images/haatt/haatt_toystall.jpg" alt="Angry Bird" class="home-4-images"/>
                <div>&nbsp;</div>
            </div>
            <div class="col-sm-8">
                <p><strong>Toy Stall</strong> - Puja fun is never complete without the addition of new bandwagan of toys. <strong><a href="http://www.EventfulMagic.com">Dennis</a></strong> will be at the stall entertaining kids with magic shows, face paint sessions and creative balloons.&nbsp;</p>
                <div>&nbsp;</div>
            </div>

            <br style="clear: both;">
            <div class="col-sm-4 text-center">
                <img src="images/haatt/haatt_Jewelry.jpg" alt="Angry Bird" class="home-4-images"/>
                <div>&nbsp;</div>
            </div>
            <div class="col-sm-8">
                <p>
                    Visit our stalls for an exquisite collection of jewellery and boutiques.
                </p>
                <div>&nbsp;</div>
            </div>

        </div>
    </div>
</div>
</body>
</html>