<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="content" class="col-sm-12">
    <!-- Slider section-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="7000">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!--Wrapper for Slides-->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <p>This will be the content for 1st slide</p><br/>
                <p>This will be the content for 1st slide</p><br/>
                <p>This will be the content for 1st slide</p><br/>
                <p>This will be the content for 1st slide</p><br/>
                <p>This will be the content for 1st slide</p><br/>
                <p>This will be the content for 1st slide</p><br/>
                <p>This will be the content for 1st slide</p><br/>
            </div>

            <div class="item">
                <p>This will be the content for 2nd slide</p><br/>
                <p>This will be the content for 2nd slide</p><br/>
                <p>This will be the content for 2nd slide</p><br/>
                <p>This will be the content for 2nd slide</p><br/>
                <p>This will be the content for 2nd slide</p><br/>
                <p>This will be the content for 2nd slide</p><br/>
                <p>This will be the content for 2nd slide</p><br/>
            </div>

            <div class="item">
                <p>This will be the content for 3rd slide</p><br/>
                <p>This will be the content for 3rd slide</p><br/>
                <p>This will be the content for 3rd slide</p><br/>
                <p>This will be the content for 3rd slide</p><br/>
                <p>This will be the content for 3rd slide</p><br/>
                <p>This will be the content for 3rd slide</p><br/>
                <p>This will be the content for 3rd slide</p><br/>
            </div>
        </div>

        <!--Left and Right Controls-->
        <a href="#myCarousel" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#myCarousel" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div>&nbsp;</div>
    <h3>EVENT DESCRIPTION</h3>
    <div class="col-sm-8">

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#day1" data-toggle="tab">Day 1</a></li>
            <li role="presentation"><a href="#day2" data-toggle="tab">Day 2</a></li>
        </ul>
        <div class="tab-content">
            <div id="day1" class="tab-pane fade in active">
                <div>&nbsp;</div>
                <h4>
                    <p>Day 1 Activities</p>
                </h4>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#day1Puja">
                            <h4 class="panel-title collapsed" data-toggle="collapse" data-target="#day1Puja">
                                Puja
                            </h4>
                        </div>
                        <div id="day1Puja" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Puja Accordion Content</p><br/>
                                <p>Puja Accordion Content</p><br/>
                                <p>Puja Accordion Content</p><br/>
                                <p>Puja Accordion Content</p><br/>
                                <p>Puja Accordion Content</p><br/>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#day1Food">
                            <h4 class="panel-title collapsed" data-toggle="collapse" data-target="#day1Food">
                                Food
                            </h4>
                        </div>
                        <div id="day1Food" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Food Accordion Content</p><br/>
                                <p>Food Accordion Content</p><br/>
                                <p>Food Accordion Content</p><br/>
                                <p>Food Accordion Content</p><br/>
                                <p>Food Accordion Content</p><br/>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#day1Culture">
                            <h4 class="panel-title collapsed" data-toggle="collapse" data-target="#day1Culture">
                                Culture
                            </h4>
                        </div>
                        <div id="day1Culture" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Culture Accordion Content</p><br/>
                                <p>Culture Accordion Content</p><br/>
                                <p>Culture Accordion Content</p><br/>
                                <p>Culture Accordion Content</p><br/>
                                <p>Culture Accordion Content</p><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="day2" class="tab-pane fade" style="background-color: greenyellow">
                <div>&nbsp;</div>
                <h3 style="margin-top: 0px;">Day 2</h3>
                <p>This is content for tab 2</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 table-bordered">
        <p>
            This is side nav bar
        </p>
    </div>
</div>
</body>
</html>