<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row our-vision-font">
            <div class="col-sm-12">
                <div>&nbsp;</div>
                <a href="#contact-us">
                    <div class="col-sm-4 text-center">
                        <img src="images/angry.jpg" alt="Angry Bird" class="home-images"/>
                        <h4>Redirect to Contact Us</h4>
                    </div>
                </a>
                <a href="#our-vision">
                    <div class="col-sm-4 text-center">
                        <img src="images/angry.jpg" alt="Angry Bird" class="home-images"/>
                        <h4>Redirect to Our Vision</h4>
                    </div>
                </a>
                <a href="#event-ads">
                    <div class="col-sm-4 text-center">
                        <img src="images/angry.jpg" alt="Angry Bird" class="home-images"/>
                        <h4>Redirect to Advertisements</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-12">
                <a href="#contact-us">
                    <div class="col-sm-4 text-center">
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <img src="images/angry.jpg" alt="Angry Bird" class="home-images"/>
                        <h4>Redirect to Contact Us</h4>
                    </div>
                </a>
                <div class="col-sm-4 text-center">
                    <div>&nbsp;</div>
                    <img src="images/dhol.png" alt="Angry Bird" style="width: 350px; height: 300px"/>
                </div>
                <a href="#contact-us">
                    <div class="col-sm-4 text-center">
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <img src="images/angry.jpg" alt="Angry Bird" class="home-images"/>
                        <h4>Redirect to Contact Us</h4>
                    </div>
                </a>
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="col-sm-12">&nbsp;</div>
            <div class="col-sm-8">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#day1" data-toggle="tab">Day 1</a></li>
                        <li role="presentation"><a href="#day2" data-toggle="tab">Day 2</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="day1" class="tab-pane fade in active">
                            <div>&nbsp;</div>
                            <h4>
                                <p>Day 1 Activities</p>
                            </h4>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-target="#day1Puja">
                                        <h4 class="panel-title collapsed" data-toggle="collapse" data-target="#day1Puja">
                                            Puja
                                        </h4>
                                    </div>
                                    <div id="day1Puja" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Puja Accordion Content</p><br/>
                                            <p>Puja Accordion Content</p><br/>
                                            <p>Puja Accordion Content</p><br/>
                                            <p>Puja Accordion Content</p><br/>
                                            <p>Puja Accordion Content</p><br/>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-target="#day1Food">
                                        <h4 class="panel-title collapsed" data-toggle="collapse" data-target="#day1Food">
                                            Food
                                        </h4>
                                    </div>
                                    <div id="day1Food" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Food Accordion Content</p><br/>
                                            <p>Food Accordion Content</p><br/>
                                            <p>Food Accordion Content</p><br/>
                                            <p>Food Accordion Content</p><br/>
                                            <p>Food Accordion Content</p><br/>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-target="#day1Culture">
                                        <h4 class="panel-title collapsed" data-toggle="collapse" data-target="#day1Culture">
                                            Culture
                                        </h4>
                                    </div>
                                    <div id="day1Culture" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Culture Accordion Content</p><br/>
                                            <p>Culture Accordion Content</p><br/>
                                            <p>Culture Accordion Content</p><br/>
                                            <p>Culture Accordion Content</p><br/>
                                            <p>Culture Accordion Content</p><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="day2" class="tab-pane fade" style="background-color: greenyellow">
                            <div>&nbsp;</div>
                            <h3 style="margin-top: 0px;">Day 2</h3>
                            <p>This is content for tab 2</p>
                        </div>
                    </div>
            </div>
            <div class="col-sm-4 table-bordered">
                <div class="col-sm-12">
                    <p>
                        This is side nav bar
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>