<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <P class="durga-banner">DURGOTSAV 2016</P>
    <div class="container">
        <div class="row our-vision-font">
            <div class="col-sm-12" style="background-color: #000">
                <div>&nbsp;</div>
                <div class="col-sm-3 text-center">
                    <a href="#/">
                        <img src="images/durga_puja.jpg" alt="Angry Bird" class="home-3-images"/>
                        <p>PUJA</p>
                    </a>
                </div>
                <div class="col-sm-6 text-center">
                    <a href="#our-vision">
                        <img src="images/drama.jpg" alt="Angry Bird" class="home-6-images"/>
                        <p style="color: #fff3e6; text-decoration: none">AN ORIGINAL PLAY WRITTEN AND DIRECTED BY<br/>JAYATI BANERJEE</p>
                    </a>
                </div>
                <div class="col-sm-3 text-center">
                    <a href="#event-ads">
                        <img src="images/pujo-food.jpg" alt="Angry Bird" class="home-3-images"/>
                        <p>FOOD</p>
                    </a>
                </div>
                <div>&nbsp;</div>
            </div>
            <div class="col-sm-12" style="background-color: #000">
                <div class="col-sm-3 text-center">
                    <a href="#contact-us">
                        <img src="images/dhol.png" alt="Angry Bird" class="home-3-images"/>
                        <p>CLASSICAL MUSIC BY<br/>ADITYA SHAH</p>
                    </a>
                </div>
                <div class="col-sm-2 text-center">
                    <a href="#contact-us">
                        <img src="images/odissi.jpg" alt="Angry Bird" class="home-2-images"/>
                        <p>ODISSI DANCE BY SHAMOYITA</p>
                    </a>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="#contact-us">
                        <img src="images/jojo.png" alt="Angry Bird" class="home-4-images"/>
                        <p>MISS JOJO - LIVE IN CONCERT</p>
                    </a>
                </div>
                <div class="col-sm-3 text-center">
                    <a href="#contact-us">
                        <img src="images/dhol.png" alt="Angry Bird" class="home-3-images"/>
                        <p>SHUDDHASWAR BY<br/>SHANTA NAG</p>
                    </a>
                </div>
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="col-sm-12">&nbsp;</div>
            <div class="col-sm-8" ng-init="tab = 1">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href ng-click="tab = 1" data-toggle="tab">Oct 01</a></li>
                        <li role="presentation"><a href ng-click="tab = 2" data-toggle="tab">Oct 02</a></li>
                        <li role="presentation"><a href ng-click="tab = 3" data-toggle="tab">Venue</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="day1" class="tab-pane fade in active" ng-show="tab == 1">
                            <div>&nbsp;</div>
                            <h4>
                                <p>Day 1 Activities</p>
                            </h4>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-target="#day1Puja">
                                        <h4 class="panel-title collapsed" data-toggle="collapse" data-target="#day1Puja">
                                            Puja
                                        </h4>
                                    </div>
                                    <div id="day1Puja" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Puja Accordion Content</p><br/>
                                            <p>Puja Accordion Content</p><br/>
                                            <p>Puja Accordion Content</p><br/>
                                            <p>Puja Accordion Content</p><br/>
                                            <p>Puja Accordion Content</p><br/>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-target="#day1Food">
                                        <h4 class="panel-title collapsed" data-toggle="collapse" data-target="#day1Food">
                                            Food
                                        </h4>
                                    </div>
                                    <div id="day1Food" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Food Accordion Content</p><br/>
                                            <p>Food Accordion Content</p><br/>
                                            <p>Food Accordion Content</p><br/>
                                            <p>Food Accordion Content</p><br/>
                                            <p>Food Accordion Content</p><br/>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-target="#day1Culture">
                                        <h4 class="panel-title collapsed" data-toggle="collapse" data-target="#day1Culture">
                                            Culture
                                        </h4>
                                    </div>
                                    <div id="day1Culture" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Culture Accordion Content</p><br/>
                                            <p>Culture Accordion Content</p><br/>
                                            <p>Culture Accordion Content</p><br/>
                                            <p>Culture Accordion Content</p><br/>
                                            <p>Culture Accordion Content</p><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="day2" class="tab-pane fade" style="background-color: greenyellow" ng-show="tab == 2">
                            <div>&nbsp;</div>
                            <h3 style="margin-top: 0px;">Day 2</h3>
                            <p>This is content for tab 2</p>
                        </div>
                        <div id="venue-map" class="tab-pane fade" ng-show="tab == 3">
                            <div>&nbsp;</div>
                            <h3 style="margin-top: 0px;">Venue Map</h3>
                            <p>This is content for tab 3</p>
                        </div>
                    </div>
            </div>
            <div class="col-sm-4 table-bordered">
                <div class="col-sm-12">
                    <p>
                        This is side nav bar
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>