<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 our-vision-font">
                <div class="page-title-background">
                    <h1 class=" text-center" style="font-weight: 800">OUR VISION</h1>
                </div>
                <div>
                    <div>&nbsp;</div>
                    <p><b>We are a group of young professionals with a passion to build a community in New England area.</b></p>
                    <div>&nbsp;</div>
                    <p>Our purpose is to promote ethnic culture, bring together people with a common interest and encourage a better way of living. We adore creativity, openness and take active interest for community well beings.</p>
                    <div>&nbsp;</div>
                    <p>We believe ‘Future is something which can only be built’.</p>
                    <div>&nbsp;</div>
                    <p>They say , age is not just a number . But what if the number is so special that we can only giggle in happiness? Yes , our own Boston DurgaBari is turning FIVE this year . A BIG FIVE ! We have called the founders of this organization’ crazy’ many times because it was indeed a crazy thought to get started. But after five long years , can proudly say, a little bit of madness is required for all creative minds . We would like to thank all of you for extending your hands to make this day possible and we cannot thank you enough for the unprecedented love and support we have received in our journey together. Our journey was not perfect, but we have memories to cherish for.</p>
                    <div>&nbsp;</div>
                    <p>We have a dream of making this year bigger and better and making our TURNING TO FIVE a real celebration. Please watch out this space for all the fun we are going to have together and we need you more than ever, because we thrive together as a team.</p>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>