<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;

        }
        th, td {
            padding: 5px;
            text-align: center;
        }
        table#t01 {
            width: 80%;
            background-color: #ffffff;
        }
        table#t02 {
            width: 80%;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="container" style="background-color: #fff3e6">
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <div>&nbsp;</div>
            <div class="col-sm-12">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="CFP3UVEBWEQXW">
            </div>
            <div class="col-sm-12">
                <h3 class="accordian-header"><span class="glyphicon glyphicon-tag"></span>	 Subscription Prices</h3>
                <div class="col-sm-12 table-responsive">
                    <table id="t02">
                        <tr>
                            <th></th>
                            <th>One Day</th>
                            <th>Both Days</th>
                        </tr>
                        <tr>
                            <th>Single</th>
                            <td>$50.00</td>
                            <td>$90.00</td>
                        </tr>
                        <tr>

                            <th>Family<sup>*</sup></th>
                            <td>$80.00</td>
                            <td>$120.00</td>
                        </tr>
                        <tr>

                            <th>Additional Kid</th>
                            <td>$20.00</td>
                            <td>$30.00</td>
                        </tr>
                    </table>
                    <p><small>*Family pass includes 2 Adults and 1 kid.</small></p>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="col-sm-12">
                <h3 class="accordian-header"><span class="glyphicon glyphicon-tag"></span>	 Buy Tickets Now</h3>
                <div class="col-sm-12">
                    <select name="os0">
                        <option value="1 day - Single">1 day - Single $50.00 USD</option>
                        <option value="2 day - Single">2 day - Single $90.00 USD</option>
                        <option value="1 day - Family (2 Adults + 1 kid">1 day - Family (2 Adults + 1 kid $80.00 USD</option>
                        <option value="2 day - Family (2 Adults + 1 kid">2 day - Family (2 Adults + 1 kid $120.00 USD</option>
                        <option value="1 day - Additional kid">1 day - Additional kid $20.00 USD</option>
                        <option value="2 day - Additional kid">2 day - Additional kid $30.00 USD</option>
                        <option value="JoJo's Concert (Dinner excluded)">JoJo's Concert (Dinner excluded) $20.00 USD<sup>*</sup></option>
                        <option value="JoJo's Concert (Dinner included)">JoJo's Concert (Dinner included) $30.00 USD<sup>*</sup></option>
                    </select>
                    <div>&nbsp;</div>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    <div>&nbsp;</div>
                    <p><small>*All day passes include tickets for Jojo's concert.No need to buy it separately.</small></p>
                </div>
            </div>
        </form>
    </div>
</body>
</html>