<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 our-vision-font">
            <div class="page-title-background">
                <h1 class=" text-center" style="font-weight: 800">WHAT HAPPENED IN 2016</h1>
            </div>
            <div>&nbsp;</div>
            <h3 class="accordian-header"><span class="glyphicon glyphicon-bell"></span>	 Durgotsav 2015</h3>
            <div>&nbsp;</div>
            <div class="col-sm-6 text-center">
                <img src="images/pastPuja.jpg" alt="Angry Bird" class="past-images"/>
                <div>&nbsp;</div>
            </div>
            <div class="col-sm-6">
                <p>Venue : Clifford Elementary school <br>Date : 1st and 2nd Oct, 2016. <br><br>
                    Check out our photos from
                    <a href="https://www.facebook.com/boston.durgabari/media_set?set=a.794938777282034.1073741828.100002977585722&type=3" target="_blank">Durgotsav 2016</a>
                    <p>Let's make it a memorable again!</p>
                </p>
                <div>&nbsp;</div>
            </div>

            <br style="clear: both;">
            <div>&nbsp;</div>
            <h3 class="accordian-header"><span class="glyphicon glyphicon-play"></span>	 Fossils - Live in concert</h3>
            <div>&nbsp;</div>
            <div class="col-sm-6 text-center">
                <img src="images/pastConcert.jpg" alt="Angry Bird" class="past-images"/>
                <div>&nbsp;</div>
            </div>
            <div class="col-sm-6">
                <p>
                    A fun filled time with Bengaii premier rock band FOSSILS @ Littleton High School on 30th October 2016.
                </p>
                Check out our posts from 2016 (
                <a href="https://www.facebook.com/fossilsinconcert/" target="_blank">Fossil - Live in Concert</a>
                )
                <div>&nbsp;</div>
            </div>

            <br style="clear: both;">
        </div>
    </div>
</div>
</body>
</html>